# Local development example. Copy this file to `.env` and fill in real values.
IMJS_AUTH_CLIENT_CLIENT_ID=""
IMJS_AUTH_CLIENT_REDIRECT_URI="http://localhost:3000/signin-callback"
IMJS_AUTH_CLIENT_LOGOUT_URI="http://localhost:3000/"
IMJS_AUTH_CLIENT_SCOPES="itwin-platform"
IMJS_AUTH_AUTHORITY="https://ims.bentley.com"

IMJS_ITWIN_ID=""
IMJS_IMODEL_ID=""

SKIP_PREFLIGHT_CHECK=true
USE_FAST_SASS=true
USE_FULL_SOURCEMAP=true
TRANSPILE_DEPS=false
USING_NPM=true

IMJS_BING_MAPS_KEY=""
IMJS_MAP_BOX_KEY=""
IMJS_CESIUM_ION_KEY=""
